{{ partial "global/head" . }}
{{ $buttonColor := $.Site.Data.appearance.colors }}

<a href="#" id="totop"> </a>

{{ if .Params.photos.gallery }}
<div uk-slider>

    <div class="uk-position-relative">
        <div class="uk-position-top full-nav-wrapper" style="z-index:5">
            {{ partial "global/navbar" . }}
        </div>
        <div class="uk-slider-container uk-light">
            <ul class="uk-slider-items uk-child-width-1-1 uk-grid-match uk-height-viewport">
                {{ range .Params.photos.gallery }}
                <li>
                    <div class="uk-cover-container">
                    <img src="{{ . }}" alt="" uk-cover>
                    <div class="listing-detail-overlay uk-position-cover"></div>
                    </div>
                </li>
                {{ end }}
            </ul>
        </div>

        <div class="uk-hidden@s uk-light">
            <a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
        </div>

    </div>

    <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>

</div>
{{ else }}
<div class="uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-center uk-flex-middle page-banner" style="background: url({{ .Site.Data.appearance.pages.image }})no-repeat center;background-size:cover">
    <div class="hero-overlay uk-position-cover"></div>
    <div class="uk-position-center uk-light">
        <h1>{{ .Title }}</h1>
    </div>
    <div class="uk-position-top full-nav-wrapper">
        {{ partial "global/navbar" . }}
    </div>
</div>
{{ end }}
<main>
{{ block "main" . }}

{{ end }}
</main>
{{ partial "global/footer" . }}