{{ define "main" }}
{{ $linkColor := $.Site.Data.appearance.colors.links }}
{{ $accent := $.Site.Data.appearance.colors.accent }}
{{ $size := .Site.Data.developer }}

<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid-small uk-child-width-1-4@m" uk-grid>
                {{ $teamCount := len (where .Site.RegularPages "Section" "==" "our-team")  }}
                {{ if gt $teamCount 0 }}
                {{ $paginator := .Paginate (where .Pages "Type" "our-team") 12 }}
                {{ range $paginator.Pages.ByWeight }}
                <div>
                    <a href="{{ .Permalink }}">
                        <div class="uk-card uk-card-default" style="box-shadow:none">
                            <div class="uk-card-media-top uk-cover-container">
                                <canvas height="450"></canvas>
                                {{ if .Params.details.agent_photo }}
                                <img src="{{ .Params.details.agent_photo }}" alt="{{ .Title }}" uk-cover>
                                {{ else }}
                                <img src="/assets/user.jpg" alt="">
                                {{ end }}
                                <div class="uk-overlay-agent uk-position-cover"></div>

                            </div>
                            <div class="uk-overlay uk-position-bottom uk-light uk-text-center">
                              <h3 class="uk-h4">{{ .Title }}</h3>
                              <a href="tel:{{ .Params.contact.cell }}" class="uk-display-block">{{ .Params.contact.cell }}</a>
                              <a href="mailto:{{ .Params.contact.email }}" class="uk-display-block">{{ .Params.contact.email }}</a>
                              <a href="{{ .Permalink }}" class="accent">Read more</a>
                          </div>
                        </div>
                    </a>
                </div>
                {{ end }}
                {{ else }}
                <div>
                    <div class="inner-container">
                        <h4>No teams added yet</h4>
                        <p>Check back later for updated information</p>
                    </div>
                </div>
                {{ end }}
        </div>
        {{ partial "templates/pagination" . }}
    </div>
</div>

{{ end }}
