{{ $ihfID := .Site.Data.idx.ihf_client_id }}
{{ $buttonColor := .Site.Data.appearance.colors }}
{{ $slideSettings := .Site.Data.homelayout.slideshow_settings }}
<div class="uk-position-top full-nav-wrapper" style="z-index: 1;">
    {{ partial "global/navbar" . }}
</div>
<div class="uk-visible-toggle uk-cover-container" tabindex="-1" uk-slideshow="animation: {{ $slideSettings.slide_animation }};autoplay: {{ $slideSettings.enable_autoplay }}">

    <ul class="uk-slideshow-items" uk-height-viewport>
        {{ range .Site.Data.homelayout.slideshow }}
        <li>
            <div class="uk-position-cover uk-transform-origin-center-left{{ if $slideSettings.enable_ken_burns_effect }} uk-animation-kenburns{{ end }}">
                <img src="{{ .image }}" alt="" uk-cover>
                <div class="hero-overlay uk-position-cover"></div>
            </div>
            <div class="uk-position-center uk-text-left uk-light uk-padding uk-text-center">
                <div class="uk-white">
                    {{ if .subtitle }}<h4>{{ .subtitle }}</h4>{{ end }}
                    {{ if .heading }}<h1 class="uk-margin-remove">{{ .heading }}</h1>{{ end }}
                    {{ if .body }}<p class="uk-text-large">{{ .body }}</p>{{ end }}
                    <div class="uk-margin-medium-top">

                        <a class="uk-button uk-button-primary" href="search-homes" {{ if $buttonColor.button_background_color }}style="background:{{ $buttonColor.button_background_color }};color:{{ $buttonColor.button_text_color }};"{{ end }}>Search Homes</a>

                    </div>
                    {{ if $.Site.Data.idx.enable_idx }}
                    <div class="uk-margin-medium-top mobile-quicksearch">
                        {{ if $.Site.Data.idx.incomplete_subdomain }}
                        <a href="https://{{ $.Site.Data.idx.incomplete_subdomain }}.idxhome.com/homesearch/{{ $ihfID }}" class="uk-button uk-button-primary" {{ if $buttonColor.button_background_color }}style="background:{{ $buttonColor.button_background_color }};color:{{ $buttonColor.button_text_color }};"{{ end }}>Search Homes</a>
                        {{ end }}
                    </div>
                    {{ end }}
                </div>
            </div>
        </li>
        {{ end }}
    </ul>

</div>