{{ define "main" }}
{{ $buttonColor := $.Site.Data.appearance.colors }}
{{ $size := .Site.Data.developer }}
{{ $accent := $.Site.Data.appearance.colors.accent }}
{{ partial "templates/listing-schema" . }}
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-flex-bottom uk-grid-small" style="position: relative;bottom: 40px" uk-grid>
            <div class="uk-width-1-1@s">
                <div class="uk-card">
                    <ul class="uk-flex uk-list uk-flex-center uk-text-center uk-flex-bottom">
                        <li>
                            {{ if .Params.status }}<span class="status uk-badge" {{ if in .Params.status "Sold" }}style="background: #d10000"{{ else }}style="background:{{ $buttonColor.button_background_color }};color:{{ $buttonColor.button_text_color }}"{{ end }}>{{ .Params.status }}</span>{{ end }}
                            {{ if .Params.featured }}<span class="featured uk-badge">{{ .Params.featured }}</span>{{ end }}
                            <h2 class="uk-margin-small-top uk-h1 uk-text-bold">{{ .Params.short_title }}</h2>
                            <h3 class="uk-margin-remove uk-h5">{{ .Title }}, {{ .Params.cities }}, {{ .Params.states }} {{ index .Params "zip-codes" }}</h3>
                            <h3 class="uk-margin-remove">{{ .Params.price }}</h3>
                        </li>
                    </ul>
                </div>
                <hr>
            </div>
        </div>
        <div class="uk-grid-medium" uk-grid>
            <div class="uk-width-expand">
                <div class="uk-card uk-margin-small-top uk-card-body single-details-list">
                    <div class="detail-title">
                        <h4 class="uk-white">Details</h4>
                    </div>
                    <div>
                        <ul class="uk-list uk-list-divider">
                            {{ with .Params.property }}<li><strong>Property type</strong><span>{{ . }}</span></li>{{ end }}
                            {{ with .Params.details.mls_number }}<li><strong>Property ID</strong><span>{{ . }}</span></li>{{ end }}
                            {{ with .Params.status }}<li><strong>Status</strong><span>{{ . }}</span></li>{{ end }}
                            {{ with .Params.price }}<li><strong>Price</strong><span>{{ . }}</span></li>{{ end }}
                            {{ with .Params.details.bedrooms }}<li><strong>Bedrooms</strong><span>{{ . }}</span></li>{{ end }}
                            {{ with .Params.details.bathrooms }}<li><strong>Bathrooms</strong><span>{{ . }}</span></li>{{ end }}
                            {{ with .Params.details.garage }}<li><strong>Garage</strong><span>{{ . }}</span></li>{{ end }}
                            {{ with .Params.details.square_footage }}<li><strong>Size Sq Ft.</strong><span>{{ . }} Sq. Ft</span></li>{{ end }}
                            {{ with .Params.details.year_built }}<li><strong>Year Built</strong><span>{{ . }}</span></li>{{ end }}
                            {{ with .Params.details.hoa }}<li><strong>HOA</strong><span>${{ . }}/month</span></li>{{ end }}
                          </ul>
                    </div>
                </div>
            </div>
            <div class="uk-width-3-5@s">
                <div class="uk-card uk-margin-small-top uk-card-body">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="uk-section">
    <div class="uk-container">
        {{ if .Params.tools.youtube_link }}
        <div class="uk-card uk-body uk-card-default uk-margin-small-top">
          <iframe style="width:100%;height:600px" src="https://www.youtube.com/embed/{{ .Params.tools.youtube_link }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        {{end}}
    </div>
</div>
<div class="uk-section">
    <div class="uk-container">
        <div class="listing-contact" style="position:relative">
            <h2>CONTACT US</h2>
        </div>
        <div class="uk-margin-large-top uk-width-1-1">
            {{ if .Params.listing_agent.listing_agent }}
            {{ with .Site.GetPage .Params.listing_agent.listing_agent }}
            <div class="uk-inline uk-cover-container" style="border-radius:4px;">
                <img src="{{ .Params.details.agent_photo }}" alt="" uk-cover>
                <canvas height="600" width="400"></canvas>
                <div class="uk-position-cover"></div>
                <div class="uk-position-bottom listing-agent">
                    <h4 class="uk-text-left uk-margin-remove">{{ .Title }}</h4>
                    <ul class="uk-list uk-margin-remove">
                        <li><a href="mailto:{{ .Params.contact.email }}" class="uk-display-block">{{ .Params.contact.email }}</a></li>
                        <li class="uk-margin-remove"><a href="tel:{{ .Params.contact.cell  }}" class="uk-display-block">{{ .Params.contact.cell  }}</a></li>
                    </ul>
                </div>
              </div>
            {{ end }}

        {{ else }}
                <div class="property-form">
                    {{ partial "templates/form" . }}
                </div>
        {{ end }}
        </div>
    </div>
</div>
{{ end }}